h1{
    color: rgb(196, 123, 14);
}
  .container{
       margin: 10% auto;
  }


.one{
    background-image: url(images/crash.png);
}

.two{
    background-image: url(images/kick.png);
}

.three{
      background-image: url(images/snare.png);
}

.four{
    background-image: url(images/tom1.png);
}

.five{
    background-image: url(images/tom2.png);
}

.six{
    background-image: url(images/tom3.png);
}

.seven{
    background-image: url(images/tom4.png);
}
.drum{
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #da0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}
























